<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <script>
      (function (d) {
        var config = {
            kitId: "ngn0vic",
            scriptTimeout: 3000,
            async: true,
          },
          h = d.documentElement,
          t = setTimeout(function () {
            h.className =
              h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = "https://use.typekit.net/" + config.kitId + ".js";
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
          a = this.readyState;
          if (f || (a && a != "complete" && a != "loaded")) return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config);
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s);
      })(document);
    </script>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"/>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.min.css">

    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
    <link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>

    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
   <!-- loader -->
   <div class="loader line-spin-fade-loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>




    <nav class="navbar navbar-expand-lg navbar-light bg-warning py-0">
      <div class="container-fluid py-6">
        <a class="navbar-brand" href="index.html">
          <img
            src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/DOYOGA-logo.png?raw=true"
            alt="logo"
            style="width: 96px; height: 31px"
        /></a>
        <button
          class="navbar-toggler border-0 link-secondary"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- pc 置中 mx-auto 可以延伸 -->
          <ul class="navbar-nav text-center mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link px-5 py-2 py-lg-0"
                aria-current="page"
                href="courses.html"
                >課程介紹</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link px-5 py-2 py-lg-0" href="space.html">瑜珈空間</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link px-5 py-2 py-lg-0" href="monthlyPlan.html">當月課表</a>
            </li>
          </ul>
          <div class="d-flex justify-content-center | flex-lg-row">
            <a
              href="reservation-course.html"
              class="btn btn-outline-primary rounded-5 fs-7 btn-lg me-4"
              >立即預約</a
            >
            <a href="contact.html" class="btn btn-outline-primary rounded-5 fs-7 btn-lg">聯絡我們</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- reservation 版本 -->
<nav class="<%- reservation -%>" >
  <div class="container-lg pt-16">
    <h2 class="h4 text-center mb-7 mb-md-4">立即預約</h2>
    <ul class="row justify-content-center mb-10">
      <li class="col-4 col-md-2">
        <span class="<%- reservationStatus1 -%> badge fw-normal fs-7 rounded-5 p-3 w-100">選擇方案</span>
      </li>
      <li class="col-4 col-md-2">
        <span class="<%- reservationStatus2 -%> badge fw-normal fs-7 rounded-5 p-3 w-100">填寫資料</span>
      </li>
      <li class="col-4 col-md-2">
        <span class="<%- reservationStatus3 -%> badge fw-normal fs-7 rounded-5 py-3 w-100">完成預約</span>
      </li>
    </ul>
    </div>
</nav>

    <%- contents %>
    <footer class="bg-primary">
      <!-- subscribe -->
      <div class="border-bottom border-white">
        <div class="container-lg pt-7 pb-10 py-md-10">
          <div
            class="
              d-flex
              flex-column flex-lg-row
              justify-content-between
              align-items-center
            "
          >
            <p class="h5 text-white mb-2 me-auto">現在訂閱，獲得課程優惠碼！</p>
            <div class="input-group rounded-1 w-md-50 w-lg-30 me-auto me-lg-0">
              <input
                type="text"
                name="subscribe email"
                id="subscribeEmail"
                class="form-control py-2 px-4"
                placeholder="輸入您的電子信箱"
              />
              <button type="submit" class="btn btn-secondary link-white">
                訂閱
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-lg pt-7 pb-10 py-md-10">
        <div class="d-flex justify-content-between">
          <div class="content">
            <a href="index.html" class="d-block mb-2"
              ><img
                src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/DOYOGA.png?raw=true"
                alt="logo img"
                style="width: 96px; height: 31px"
            /></a>
            <ul class="">
              <li class="mb-2">
                <a href="courses.html" class="fw-light">課程介紹</a>
              </li>
              <li class="mb-2"><a href="space.html" class="fw-light">瑜珈空間</a></li>
              <li class="mb-2"><a href="monthlyPlan.html" class="fw-light">當月課表</a></li>
            </ul>
            <!-- mobile only -->
            <p class="d-md-none text-white">© 2021. All Rights Reserved.</p>
          </div>

          <!-- pc pad -->
          <p class="d-none d-md-block text-white mt-auto">
            © 2021. All Rights Reserved.
          </p>

          <ul class="d-flex">
            <li class="me-2">
              <a href="#" class="d-block text-white">
                <i class="fab fa-facebook fs-5"></i>
              </a>
            </li>
            <li class="me-2">
              <a href="#" class="d-block text-white">
                <i class="fab fa-instagram fs-5"></i>
              </a>
            </li>
            <li class="">
              <a href="#" class="d-block text-white">
                <i class="fab fa-line fs-5"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <!-- nav links -->
    <ul
      class="
        d-none d-lg-block
        position-fixed
        top-50
        end-0
        d-flex
        flex-column
        align-items-center
        me-4
        <%- socialMedias -%>
      "
    >
      <li class="mb-2">
        <a href="#" class="link-primary d-block">
          <i class="fab fa-facebook fa-3x"></i>
        </a>
      </li>
      <li class="mb-2">
        <a href="#" class="link-primary d-block">
          <i class="fab fa-instagram fa-3x"></i>
        </a>
      </li>
      <li class="">
        <a href="#" class="link-primary d-block">
          <i class="fab fa-line fa-3x"></i>
        </a>
      </li>
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.css.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
